WHATSAPP=50243605982
EMAIL=clinicasmindlife@gmail.com

CALENDAR_URL=https://script.google.com/macros/s/DEVELOPMENT/exec

SUPABASE_URL=https://DEVELOPMENT.supabase.co
SUPABASE_ANON_KEY=sb_publishable_XXXXX
